{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eqeqeq": 2,
    "curly": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-underscore-dangle": 2,
    "camelcase": 2,
    "consistent-this": [2, "self"],
    "brace-style": [2, "1tbs"],
    "eol-last": 2,
    "comma-spacing": 2,
    "indent": [2, 4],
    "no-shadow": 2,
    "space-before-blocks": 2,
    "new-cap": 2,
    "semi": [2, "always"],
    "no-warning-comments": [2],
    "func-style": [2, "expression"],
    "no-eval": 2
  }
}
